/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #0a0b0c;
}

ul {
    list-style: none;
    margin-left: 20px;
}

/* Begin Button */
.begin_btn button{
    font-size: 30px;
    font-weight: 550;
    color: #e1e6eb;
    padding: 16px 31px;
    outline: none;
    border: none;
    border-radius: 7px;
    background: rgb(255, 19, 98);
    cursor: pointer;
    transition: all 0.4s ease;
}

.begin_btn button:hover {
    font-size: 40px;
    color: rgb(255, 19, 98);
    background:  rgb(12, 12, 12);
    border: 1px solid  rgb(255, 19, 98);
    transform: scale(1.1)
}

/* QUiz Information Card */
.information_card{
    width: 545px;
    background: rgb(182, 179, 179);
    border-radius: 7px;
    border: 3px solid rgb(182, 179, 179);
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
}

.information_card .information-title{
    height: 50px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 32px;
    border-radius: 5px 5px;
    font-size: 20px;
    font-weight: 600;
}

.information_card .information_list{
    padding: 15px 15px;
}

.information_card .information_list .information{
    margin: 5px 0;
    font-size: 18px;
}

.information_card .information_list .information span{
    font-weight: 600;
    color: #e70f0f;
}
.information_card .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    border-top: 1px solid lightgrey;
}

.information_card .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid  rgb(255, 19, 98);
    transition: all 0.4s ease;
}

/* Quiz Card */
.quiz_card{
    width: 555px;
    background: #fff;
    border-radius: 5px;
    border: 3px solid rgb(182, 179, 179);
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
}

.quiz_card header{
    position: relative;
    z-index: 2;
    height: 75px;
    padding: 0 32px;
    background: rgb(165, 164, 164);
    border-radius: 6px 6px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 6px 2px rgba(0,0,0,0.1);
}

.quiz_card header .title{
    font-size: 22px;
    font-weight: 550;
}

/* Quiz Card Timer */
.quiz_card header .quiz_timer{
    color: #0c0d0e;
    background: #84858681;
    border: 1px solid #080808;
    height: 48px;
    padding: 0 9px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 155px;
}

.quiz_card header .quiz_timer .time_text{
    font-weight: 450;
    font-size: 17px;
    user-select: none;
}

.quiz_card header .quiz_timer .time_seconds{
    font-size: 18px;
    font-weight: 550;
    height: 30px;
    width: 45px;
    color: rgb(240, 14, 14);
    border-radius: 7px;
    line-height: 30px;
    text-align: center;
    background: #f4f7fa;
    border: 1px solid #343a40;
    user-select: none;
}

.quiz_card header .time_line{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: rgb(165, 164, 164);
}

/* Answer Section */
section{
    padding: 26px 32px 22px 32px;
    background: rgb(7, 7, 7);
    color: white;
}

section .ques_text{
    font-size: 28px;
    font-weight: 600;
}

section .answ_list{
    padding: 22px 0px;
    display: block;   
}

section .answ_list .choice{
    background: rgba(245, 187, 221, 0.219);
    border: 1px solid #f887cd;
    border-radius: 6px;
    padding: 9px 16px;
    font-size: 18px;
    margin-bottom: 16px;
    cursor: pointer;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .answ_list .choice:last-child{
    margin-bottom: 0px;
}

section .answ_list .choice:hover{
    color: #f8f7f8;
    background: #ad1952;
    border: 1px solid #d60f83;
}

section .answ_list .choice.correct{
    color: #e1e7e2;
    background: #191f1a;
    border: 3px solid #0cec40;
}

section .answ_list .choice.incorrect{
    color: #f5eeef;
    background: #191f1a;
    border: 3px solid #f00c23;
}

section .answ_list .choice.disabled{
    pointer-events: none;
}

section .answr_list .choice .icon{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
}
.answ_list .choice .icon-tick{
    color: #0cec40;
}

.answ_list .choice .icon-cross{
    color: #f00c23;
}

/* Quiz Card Footer */
.quiz_card footer{
    background:rgb(165, 164, 164) ;
    height: 60px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}

.quiz_card footer .total_que span{
    display: flex;
    user-select: none;
}

.quiz_card footer .total_que span p{
    font-weight: 500;
    padding: 0 5px;
}

footer .total_que span p:first-child{
    padding-left: 0px;
}

footer button{
    height: 45px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    outline: none;
    color: rgb(255, 19, 98);
    border-radius: 5px;
    background:  rgb(255, 253, 254);
    border: 3px solid rgb(255, 19, 98);
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.4s ease;
}

footer button:hover{
    background: rgb(255, 19, 98);
    border: 3px solid rgb(5, 5, 5);
    color: white;
    transform:scale(1.1)
}

footer button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

/* Results Card */
.results_card{
    background: rgb(165, 164, 164);
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.results_card .complete_text{
    font-size: 25px;
    font-weight: 500;
}

.results_card .score_text span{
    display: flex;
    margin: 15px 0;
    font-size: 20px;
    font-weight: 500;
}

.results_card .score_text span p{
    padding: 0 5px;
    font-weight: 600;
}

.results_card .buttons{
    display: flex;
    margin: 20px 0;
}

.results_card .buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

/* App Button Styling */
.buttons button.restart{
    color: #fff;
    background: rgb(255, 19, 98);
    border: 1px solid #101111;
}

.buttons button.restart:hover{
    background: #121314;
    transform: scale(1.1);
    border: 2px solid rgb(255, 19, 98);
}

.buttons button.quit{
    color: rgb(255, 19, 98);
    background: #fff;
    border: 1px solid rgb(255, 19, 98);
}

.buttons button.quit:hover{
    color: #fff;
    background:rgb(255, 19, 98);
    transform: scale(1.1);
    border: 2px solid rgb(8, 8, 8);
}

.buttons a button{
    color: rgb(255, 19, 98);
    background: rgb(14, 13, 13);
    border: 3px solid #fff;
}

.buttons a button:hover{
    color: rgb(14, 13, 13);
    background: rgb(255, 19, 98);
    border: 3px solid #fff; 
}
